body {
    background-color: rgb(61, 0, 56);
    color: rgb(255, 255, 255);

    font-family: 'Winky Sans';
    font-weight: 700;

    max-height: fit-content;
    --icon-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
}

#mainPage {
    min-width: fit-content;
}

.content {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    
    background-color: rgba(0,0,0, 0.35);
    border-radius: 12px 12px 12px 12px;
    padding: 10px;
    width: fit-content;
    
    margin: auto;
    margin-top: 24px;
}

#packDetails {
    margin-top: 32px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 12px;
}

#packSettingsText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#packSettingsImage {
    display: flex;

    justify-content: left;
    flex-direction: column;
}

#packPNG {
    border-style: solid;
    border-color: rgb(255, 117, 209);
    border-radius: 8px 8px 8px 8px;
    border-width: 2px;

    width: 96px;
    cursor: pointer;

    image-rendering: pixelated;
}

#imagePreview {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    max-width: 960px;
    gap: 2px;

    justify-content: center;
}

.icon {
    width: 64px;
    padding: 8px;
    border-radius: 12px 12px 12px 12px;
    
    transform: scale(1);
    transition: transform 0.04s ease-in-out;
    
    filter: drop-shadow(0px 0px 0.35rem rgba(0, 0, 0, 0.8));
    image-rendering: pixelated;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.iconLabel {
    background-color: rgba(0, 0, 0, 0.80);
    display: none;
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    padding: 4px;
    border-radius: 12px 12px 12px 12px;

    transform: translateY(-88px);
    z-index: 1;
}

.iconContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

button, input {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    
    font-family: 'Winky Sans';
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    font-size: 16px;

    cursor: pointer;

    border-color: rgb(255, 117, 209);
    transition: border-color 0.1s linear;
    padding: 4px;
}

input[type=text] {
    cursor: text;
}

button:disabled, input:disabled {
    border-color: rgb(255, 32, 32);
    cursor: not-allowed;
}

#generatePack, #imageUploader {
    margin: auto;
    width: 240px;
}

#imageUploader {
    font-size: 14px;
}

a {
    color: inherit;
    max-width: fit-content;
}

.label {
    background-color: rgba(0,0,0, 0.35);
    padding: 8px;
    width: fit-content;
    
    border-radius: 12px 12px 12px 12px;
}

#copyUnicodeLabel {
    cursor: pointer;
    margin: auto;
}

#imageSettings {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.imageSettingsMin {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 4px;
}

#imageOptions {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}